<h1>This is the product page</h1>

<form action="/addproduct" method="post" enctype="multipart/form-data">
    <input type="text" id="name" name="ProductName" placeholder="Product Name">
    <!-- <input type="file" id="imageOne" name="ImageOne" accept="image/*">
    <input type="file" id="imageTwo" name="ImageTwo" accept="image/*">
    <input type="file" id="imageThree" name="ImageThree" accept="image/*"> -->
    <input type="file" name="Images" placeholder="Images" required multiple accept="images/*" />
    <Textarea id="describe" name="Description"></Textarea>
    <select id="category" name="Category">
        <option value="Clothing">Clothing</option>
        <option value="Foot Wears">Foot Wears</option>
        <option value="Accessories">Accessories</option>
        <option value="Gadgets">Gadgets</option>
        <option value="Stationaries">Stationaries</option>
        <option value="Beauty">Beauty</option>
        <option value="House-Hold">House-Hold</option>
        <option value="Others">Others</option>
    </select>
    <input type="number" id="price" name="Price" placeholder="Price in Naira">
    <button>Submit</button>
</form>