<h1>Login Merchant</h1>

<form action="/merchant/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Log in</button>
</form>