<h1>Customer signup</h1>

<form action="/customer/signup" method="post">
    <input type="text" id="name" name="Name" placeholder="Full Name">
    <input type="text" id="username" name="username" placeholder="Input a Username">
    <input type="text" id="phone" name="PhoneNumber" placeholder="Phone Number">
    <input type="text" id="address" name="Address" placeholder="Address">
    <input type="text" id="state" name="State" placeholder="State">
    <input type="password" id="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>