<h1> Rgister Merchant </h1>

<form action="/merchant/signup" method="post">
    <input type="text" id="name" name="FirstName" placeholder="Full Name">
    <input type="text" id="name" name="LastName" placeholder="Last Name">
    <input type="text" id="email" name="Email" placeholder="Email address">
    <input type="text" id="name" name="username" placeholder="Username">
    <input type="text" id="state" name="State" placeholder="State of residence">
    <input type="text" id="address" name="Address" placeholder="Address">
    <input type="text" id="phoneNum" name="PhoneNumber" placeholder="Phone Number">
    <input type="password" id="password" name="password" placeholder="password">
    <input type="checkbox" id="verify" name="isMerchant" value="true" placeholder="Agree to terms and conditions" required>
    <button>Submit</button>
</form>