<h1> Rgister Merchant </h1>

<form action="/regMerchant" method="post">
    <input type="text" id="name" name="Merchant[FirstName]" placeholder="Full Name">
    <input type="text" id="name" name="Merchant[LastName]" placeholder="Last Name">
    <input type="text" id="name" name="username" placeholder="Username">
    <input type="text" id="state" name="Merchant[State]" placeholder="State of residence">
    <input type="text" id="address" name="Merchant[Address]" placeholder="Address">
    <input type="text" id="phoneNum" name="Merchant[PhoneNumber]" placeholder="Phone Number">
    <input type="password" id="password" name="password" placeholder="password">
    <button>Submit</button>
</form>